<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
        colors="true"
        bootstrap="vendor/autoload.php"
        stopOnFailure="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <file>./tests/DriverFactoryTest.php</file>
            <file>./tests/SourceFactoryTest.php</file>

            <file>./tests/SourceFilesMatcherTest.php</file>

            <file>./tests/SourceFileTest.php</file>
            <file>./tests/SourceFolderTest.php</file>

            <file>./tests/SourceCacheTest.php</file>

            <file>./tests/LoaderTest.php</file>

            <file>./tests/ConfigTest.php</file>
            <file>./tests/ConfigManagerTest.php</file>

            <directory>./tests/Drivers</directory>

            <file>./tests/FunctionalTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
